.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.header .logo{
    font-size: 1.7rem;
    font-weight: 700;
}
.header .navbar{
    display: inline-block;
    justify-content: space-around;
}
.header .navbar a {
    padding: 0 1rem;
    font-size: 1.1rem;
}
.header .navbar a:hover {
    border-bottom: .1rem solid var(--color-secundary);
    width: max-content;
}